/* Sidebar Styles */
.sidebar {
  width:  250px;
  background-color: #333; 
  color: #6191ab; 
  padding: 20px; 
  
}

/* Style for list items */
.list-group-item {
  background-color: transparent;
  border: none;
}

/* Style for links in the sidebar */
.nav-link {
  color: #b71528; /* Link text color */
  text-decoration: none;
  transition: background-color 0.3s; /* Smooth background color transition */
}

/* Hover effect for links */
.nav-link:hover {
  background-color: #555; /* Background color on hover #555 */
  border-radius: 5px; /* Add some border-radius for a button-like effect */
}

/* Active link style (if needed) */
.nav-link.active {
  background-color: rgb(0,0,0);
   opacity: 0.5;
}

/* Adjust padding or margins as needed for spacing */
