<!-- header.component.html -->
<header class="header-container">
  <h4>Welcome to the Home Page</h4>
  <!-- Button to display the form -->
  <button (click)="showForm = !showForm">Create employee</button>
</header>

<div *ngIf="showForm">
  <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm.value)">
    <h2>Add/Edit Employee</h2>
    <div class="form-group">
      <label for="employeeName">Employee Name:</label>
      <input type="text" id="employeeName" name="employeeName" ngModel />
    </div>
    <div class="form-group">
      <label for="mobileNo">Mobile Number:</label>
      <input type="tel" id="mobileNo" name="mobileNo" ngModel />
    </div>
    <div class="form-group">
      <label for="role">Role:</label>
      <input type="text" id="role" name="role" ngModel />
    </div>
    <input
      type="submit"
      value="{{ editMode ? 'UpdateProduct' : 'AddProduct' }}"
    />
  </form>
</div>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>employeeName</th>
      <th>mobileNo</th>
      <th>role</th>
      <th>status</th>
      <th>Action</th>
      <th>Edit(status)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of allemployees; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ employee.employeeName }}</td>
      <td>{{ employee.mobileNo }}</td>
      <td>{{ employee.role }}</td>
      <td>{{ employee.status }}</td>

      <td>
        <!-- <button (click)="updateEmployee(employee)">Edit</button> -->
        <button (click)="deleteEmployee(employee.id)">Delete</button>
      </td>
      <td>
        <button (click)="toggleStatus(employee)">{{ status }}</button>
      </td>
    </tr>
  </tbody>
</table>
<input type="submit" value="Fetch-emp" (click)="CreateEmployee()" />
